/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
}
.clear {
  clear: both;
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  background: url("../images/site_back.png");
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}
.download_app {
  background: #a4cb63;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #70a72b), color-stop(1, #a4cb63));
  background: -ms-linear-gradient(bottom, #70a72b, #a4cb63);
  background: -moz-linear-gradient(center bottom, #70a72b 0%, #a4cb63 100%);
  background: -o-linear-gradient(#a4cb63, #70a72b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4cb63', endColorstr='#70a72b', GradientType=0);
  height: 35px;
  width: 100%;
  min-width: 255px;
  position: relative;
}
.download_app a {
  display: block;
  height: 100%;
  line-height: 31px;
}
.download_app .link {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
.download_app .close {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  width: 35px;
}
.side_menu,
.site {
  transition: all 0.08s ease 0s;
}
.side_menu {
  background: #222;
  height: 100%;
  position: absolute;
  display: block;
  float: left;
  margin-left: -85%;
  width: 85%;
  z-index: 2;
  box-shadow: -2px 0 8px -1px #111111 inset;
}
.side_menu ul {
  background: #000;
  border-bottom: 1px solid #393939;
}
.side_menu ul li {
  background: #222;
  border-top: solid 1px #393939;
  border-left: solid 1px none;
  border-right: solid 1px none;
  border-bottom: solid 1px #000000;
}
.side_menu ul li.active {
  border-top: solid 1px #222222;
  border-left: solid 1px none;
  border-right: solid 1px none;
  border-bottom: solid 1px #222222;
}
.side_menu ul li.interval {
  margin-bottom: 11px;
  border: 0;
}
.side_menu ul li a {
  display: block;
  height: 38px;
  line-height: 35px;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}
.active .side_menu {
  margin-left: 0;
}
.active .site {
  margin-right: -85%;
}
.active .close_side {
  display: block;
}
.close_side {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
}
.site {
  float: right;
  margin-left: 0;
  position: relative;
  z-index: 1;
  width: 100%;
}
.wrapper {
  padding: 15px 10px;
  min-width: 255px;
}
header {
  background: #2c6693;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #265477), color-stop(1, #3173a7));
  background: -ms-linear-gradient(bottom, #265477, #3173a7);
  background: -moz-linear-gradient(center bottom, #265477 0%, #3173a7 100%);
  background: -o-linear-gradient(#3173a7, #265477);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3173a7', endColorstr='#265477', GradientType=0);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 1px solid #719ec2;
  height: 46px;
  padding: 0 13px;
  font-size: 0;
  position: relative;
}
header .side_menu_link,
header .lang_trigger {
  position: absolute;
}
header .side_menu_link {
  left: 13px;
  top: 14px;
}
header .lang_trigger {
  right: 13px;
  top: 17px;
}
header .logo {
  width: 100%;
  text-align: center;
  margin-top: 7px;
}
nav.top_nav {
  background: #efefef;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #9f9f9f;
  position: relative;
  margin-bottom: 15px;
}
nav.top_nav table {
  z-index: 10;
  position: relative;
  width: 100%;
}
nav.top_nav table td {
  text-align: center;
}
nav.top_nav table td a {
  display: block;
  border-top: solid 1px none;
  border-left: solid 1px #cfcfcf;
  border-right: solid 1px #ffffff;
  border-bottom: solid 1px none;
  color: #00233e;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  padding: 12px 0;
}
nav.top_nav table td:first-child a {
  border-left: none;
}
nav.top_nav table td:last-child a {
  border-right: none;
}
nav.top_nav .sub {
  position: absolute;
  z-index: 5;
  bottom: -2px;
  margin: 0 5px;
  height: 1px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 1px;
  -webkit-border-bottom-left-radius: 1px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 1px;
  -moz-border-radius-bottomleft: 1px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 98%;
  background: #c6c6c6;
}
.news_popups {
  margin-bottom: 15px;
}
.news_popups .item {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #c5e0f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #baddf8), color-stop(1, #dfecf6));
  background: -ms-linear-gradient(bottom, #baddf8, #dfecf6);
  background: -moz-linear-gradient(center bottom, #baddf8 0%, #dfecf6 100%);
  background: -o-linear-gradient(#dfecf6, #baddf8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfecf6', endColorstr='#baddf8', GradientType=0);
  border: 1px solid #25567c;
  padding: 8px 29px 8px 11px;
  font-size: 13px;
  line-height: 18px;
  color: #eb4040;
  margin-top: 10px;
  position: relative;
}
.news_popups .item time {
  color: #000;
  margin-left: 10px;
}
.news_popups .item .close {
  position: absolute;
  display: block;
  top: 14px;
  right: 10px;
}
.news_popups .item .close * {
  display: block;
}
.info_blocks {
  font-size: 0;
  margin-bottom: 15px;
}
.info_blocks a:last-child .item {
  margin-right: 0;
}
.info_blocks .item {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 78px;
  background: #fff;
  margin-right: 6px;
  padding: 9px 6px;
  overflow: hidden;
  position: relative;
}
.info_blocks .item .head {
  font-size: 0;
  color: #000;
  white-space: nowrap;
}
.info_blocks .item .head span {
  font-size: 12px;
  margin-left: 5px;
}
.info_blocks .item .head span a {
  color: #073b64;
}
.info_blocks .item .head img,
.info_blocks .item .head span {
  vertical-align: middle;
}
.info_blocks .item .text {
  font-size: 11px;
  color: #696969;
  position: absolute;
  left: 6px;
  bottom: 9px;
}
.info_blocks .item .text span {
  font-size: 16px;
  color: #0061ab;
  display: block;
}
.qiwi {
  margin-bottom: 15px;
}
.qiwi .link {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fdb634;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fca12a), color-stop(1, #fdc53a));
  background: -ms-linear-gradient(bottom, #fca12a, #fdc53a);
  background: -moz-linear-gradient(center bottom, #fca12a 0%, #fdc53a 100%);
  background: -o-linear-gradient(#fdc53a, #fca12a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdc53a', endColorstr='#fca12a', GradientType=0);
  border-top: 1px solid #fee39d;
  border-bottom: 1px solid #fca12a;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.qiwi .link a {
  position: relative;
  display: block;
  height: 29px;
  line-height: 29px;
  padding: 0 13px;
  font-size: 13px;
  color: #000;
  text-decoration: none;
}
.qiwi .link a img {
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 2px;
  height: 10px;
}
.qiwi .link a .arrow {
  background: url("../images/arrow_down.png") center center no-repeat;
  position: absolute;
  height: 29px;
  width: 29px;
  top: 0;
  right: 5px;
}
.qiwi.active .link {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-bottom: 1px solid #df8f29;
}
.qiwi.active .link .arrow {
  background: url("../images/arrow_up.png") center center no-repeat;
}
.qiwi.active .qiwi_inner {
  display: block;
}
.qiwi .qiwi_inner {
  display: none;
  padding: 14px 13px 16px;
  background: #f8f8f8;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.qiwi .qiwi_inner .sum {
  width: 30%;
}
input[type="text"] {
  height: 30px;
  line-height: 30px;
  border: 1px solid #d3d3d3;
  background: #ededed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #333;
  padding: 0 .3em;
  margin-bottom: 10px;
}
input[type="text"].wide {
  width: 100%;
}
.btn,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #25567c;
  border-top-color: #8dacc4;
  background: #447194;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #275477), color-stop(1, #5986a9));
  background: -ms-linear-gradient(bottom, #275477, #5986a9);
  background: -moz-linear-gradient(center bottom, #275477 0%, #5986a9 100%);
  background: -o-linear-gradient(#5986a9, #275477);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5986a9', endColorstr='#275477', GradientType=0);
  cursor: pointer;
  min-height: 30px;
  line-height: 30px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0 17px;
  display: inline-block;
  text-decoration: none;
}
.btn.wide,
input[type="button"].wide,
input[type="reset"].wide,
input[type="submit"].wide {
  display: block;
}
.btn.normal-text,
input[type="button"].normal-text,
input[type="reset"].normal-text,
input[type="submit"].normal-text {
  text-transform: none;
  font-size: 13px;
  line-height: 28px;
}
.btn.btn-shadow,
input[type="button"].btn-shadow,
input[type="reset"].btn-shadow,
input[type="submit"].btn-shadow {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.btn.btn-light,
input[type="button"].btn-light,
input[type="reset"].btn-light,
input[type="submit"].btn-light {
  background: #c6e1f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #baddf8), color-stop(1, #cfe4f2));
  background: -ms-linear-gradient(bottom, #baddf8, #cfe4f2);
  background: -moz-linear-gradient(center bottom, #baddf8 0%, #cfe4f2 100%);
  background: -o-linear-gradient(#cfe4f2, #baddf8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe4f2', endColorstr='#baddf8', GradientType=0);
  color: #000;
  border: 1px solid #25567c;
}
.block {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  background: #fff;
}
.block .head {
  background: #e1ecf3;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d5e5ee), color-stop(1, #ecf3f8));
  background: -ms-linear-gradient(bottom, #d5e5ee, #ecf3f8);
  background: -moz-linear-gradient(center bottom, #d5e5ee 0%, #ecf3f8 100%);
  background: -o-linear-gradient(#ecf3f8, #d5e5ee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ecf3f8', endColorstr='#d5e5ee', GradientType=0);
  border-top: solid 1px #fafcfd;
  border-left: solid 1px none;
  border-right: solid 1px none;
  border-bottom: solid 1px #c7d9e5;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 12px;
  font-size: 12px;
  color: #00233e;
  text-transform: uppercase;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.slider {
  position: relative;
}
.slider .slider_item {
  font-size: 0;
}
.slider .slider_item .info {
  padding: 10px 26px 20px;
}
.slider .slider_item .info .teams,
.slider .slider_item .info .time {
  font-size: 13px;
  display: inline-block;
}
.slider .slider_item .info .teams {
  margin-right: 17px;
  color: #000;
}
.slider .slider_item .info .teams > * {
  vertical-align: middle;
}
.slider .slider_item .info .time {
  color: #777;
}
.slider .slider_item .info .time > * {
  vertical-align: middle;
}
.slider .slider_item .info .text {
  color: #666;
  font-size: 11px;
  padding-top: 10px;
  line-height: 17px;
}
.slider .slider_item .rates {
  width: 100%;
  border-collapse: separate;
}
.slider .slider_item .rates .item {
  color: #999;
  font-size: 13px;
  text-align: center;
  background: #f1f1f1;
  border-top: solid 1px #dadada;
  border-left: solid 1px #dadada;
  border-right: solid 1px #ffffff;
  border-bottom: solid 1px none;
  padding: 10px 0;
}
.slider .slider_item .rates .item:first-child {
  border-left: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider .slider_item .rates .item:last-child {
  border-right: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.slider .slider_item .rates .item span {
  color: #000;
  font-size: 20px;
  display: block;
}
.slider .slider_item .sport_results_icons .item {
  text-align: center;
  color: #000;
}
.slider .slider_item .sport_results_icons .item.active a span {
  color: #a9a9a9;
}
.slider .slider_item .sport_results_icons .item a {
  text-decoration: none;
}
.slider .slider_item .sport_results_icons .item a span {
  display: block;
  font-size: 11px;
  color: #000;
}
.slider .prev,
.slider .next {
  display: block;
  width: 18px;
  height: 36px;
  background: url("../images/slider_buttons.png") no-repeat;
  position: absolute;
}
.slider.type-1 .prev,
.slider.type-1 .next {
  top: 20px;
}
.slider.type-2 {
  padding: 18px;
}
.slider.type-2 .prev,
.slider.type-2 .next {
  top: 23px;
}
.slider.type-3 .prev,
.slider.type-3 .next {
  top: 14px;
}
.slider.type-3 .info {
  padding: 25px 26px;
}
.slider .prev {
  background-position: left center;
  left: 0;
}
.slider .next {
  background-position: right center;
  right: 0;
}
.sport_info .item {
  display: none;
}
.sport_info .item table {
  width: 100%;
}
.sport_info .item table tr td {
  background: #f1f1f1;
  border-top: 1px solid #dadada;
  padding: 11px 17px;
  vertical-align: middle;
}
.sport_info .item table tr:last-child .text {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sport_info .item table tr:last-child .score {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.sport_info .item table tr .text {
  font-size: 13px;
}
.sport_info .item table tr .text .teams {
  color: #000;
  margin-bottom: 3px;
}
.sport_info .item table tr .text .time {
  color: #999;
}
.sport_info .item table tr .score {
  color: #000;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  width: 60px;
}
.ico {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.ico.football {
  background: url("../images/ico-foot.png") center center no-repeat;
}
.ico.time {
  background: url("../images/ico-time.png") center center no-repeat;
}
.ico.basketball {
  background: url("../images/ico-basket.png") center center no-repeat;
}
.news_classic .item {
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
  line-height: 18px;
}
.news_classic .item a {
  padding: 10px 14px;
  text-decoration: none;
  color: #2a5e84;
  display: block;
}
.news_classic .item time {
  color: #000;
}
.news_classic .item:last-child {
  border-bottom: none;
}
.contacts .item {
  padding: 15px 14px;
  border-bottom: 1px solid #e7e7e7;
  font-size: 13px;
  color: #696969;
}
.contacts .item span {
  color: #000;
}
.contacts .item span.big {
  font-size: 26px;
}
.contacts .item:last-child {
  border-bottom: none;
}
.notice_text {
  color: #fff;
  font-size: 11px;
  line-height: 20px;
}
.login_form {
  background: #f0f0f0;
  padding: 13px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.login_form .sub {
  position: absolute;
  z-index: 5;
  bottom: -1px;
  height: 1px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 1px;
  -webkit-border-bottom-left-radius: 1px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 1px;
  -moz-border-radius-bottomleft: 1px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 96%;
  background: #c6c6c6;
}
.login_form .btn {
  padding: 0 40px;
  float: left;
}
.login_form .pass_remind {
  float: right;
  display: block;
  margin-top: 9px;
  font-size: 12px;
  color: #315e81;
}
